/*
 * Copyright (c) 2024 Felipe Neves
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,cdc-acm-uart0 = &cdc_acm_uart0;
	};
};

&fdcan2 {
	bus-speed = <1000000>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;	
	mf4005_motor0: mf4005_motor@141 {
		compatible = "lkm,mf4005";
		reg = <0x141>;
		max-current-ma = <240>;
		encoder-resolution-bits = <16>;
		max-speed-dps = <12000>;
		status = "okay";
	};

	mf4005_motor1: mf4005_motor@142 {
		compatible = "lkm,mf4005";
		reg = <0x142>;
		max-current-ma = <240>;
		encoder-resolution-bits = <16>;
		max-speed-dps = <12000>;
		status = "okay";
	};
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&cdc_acm_uart0 {
	status = "okay";
};

&timers2 {
	st,prescaler = <1>;
	status = "okay";

	counter {
		status = "okay";
	};
};
